/*List Component */
.songlist {
    text-align: left;
    position: relative;
    padding-top: 24px;
}

.songlist .list-group-item {
    display: flex;
    align-items: center;
    background: transparent;
    color: #fff;
}

.songlist audio {
    margin-left: auto;
    height: 38px;
    max-width: 210px;
}

.songlist-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 14px;
    align-items: center;
}

img.album-image {
    width: 128px;
}

.songlist li .MuiAvatar-root {
    width: 72px;
    height: 72px;
}

.songlist li.MuiListItem-root {
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.search-btn {
    background: transparent;
    border: 0;
    position: relative;
}

.search-btn .search-icon {
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    top: -7px;
    right: -8px;
}


@media screen and (max-width:420px) {
    .songlist audio {
        margin-left: unset;
    }

    .songlist-details {
        flex-direction: column;
    }
}

.audio-controls {
    margin-left: auto;
}

.pauseBtn {
    display: none;
}

.songlist-details audio {
    display: none;
}

.pause-btn{
    display: none;
}

.songlist-details.playing .play-btn {
    display: none;
}

.songlist-details.playing .pause-btn {
    display: block;
}

.audio-btn{
    font-size: 3rem;
    cursor: pointer;
}

.album-list{
    width: 100%;
}

.albumname{
    max-width: calc(100% - 84px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}